@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: rgb(28, 63, 28);
}

.vertical-rectangle-card {
  width: 300px;
  height: 500px;
  background-color: white;
}

.card-title-red {
  font-size: 135px;
  font-family: "Cardo", serif;
  color: red;
}

.card-title-black {
  font-size: 135px;
  font-family: "Cardo", serif;
  color: black;
}

.diamond {
  color: red;
  font-size: 45px;
}

.heart {
  color: red;
  font-size: 45px;
}

.spade {
  color: black;
  font-size: 45px;
}

.clover {
  color: black;
  font-size: 45px;
}

button {
  background-color: rgb(28, 63, 28);
}
